basePath: /api/v1
host: localhost:8080
info:
  contact:
    email: support@university.ac.id
    name: API Support
  description: API for managing student achievements with RBAC
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Student Achievement Reporting System API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
